@import "~antd/dist/antd.css";

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: linear-gradient(180deg, #2c497f 0%, rgba(255, 255, 255, 0) 100%),
    #2c497f !important;
}

.ant-layout-sider-children {
  background: linear-gradient(180deg, #2c497f 0%, rgba(255, 255, 255, 0) 100%),
    #2c497f !important;
}

.ant-layout-sider-trigger {
  background: linear-gradient(180deg, #2c497f 0%, rgba(255, 255, 255, 0) 100%),
    #2c497f !important;
}

.ant-layout-header {
  background: transparent !important;
}

.ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  background: #1e1e2f;
}

#header-home {
  padding: 0px 0px;
}
